.shoppingListModal {
  .formWrapper {
    background-color: white;
    padding:40px;
    border-radius: 15px;
  }
  
  .formFields {
    display: flex;
    flex-direction: column;
    padding:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 4%;
    width: 220px;
  
    .field {
      margin-bottom: 10px;
    }
  }
}
