.shoppingListWrapper {
  background-color: #11223E;

  .deleteAll {
    margin-right: 10px;
  }

  .listLink {
    &:active, &:visited {
        color: black;
    }
  }

  .deleteButton {
    color: #b31212;
    background-color: transparent;
    outline: 0;
    border: 0;
  }
}