.productListWrapper {
  background-color: #11223E;
  min-height: 100vh;

  .wrapperHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;

    .return {
      font-size: 30px;
    }
  }

  .deleteAll {
    margin-right: 10px;
  }

  .listLink {
    &:active, &:visited {
        color: black;
    }
  }

  .deleteButton {
    color: #b31212;
    background-color: transparent;
    outline: 0;
    border: 0;
  }
}