.productListWrapper {
  display:flex;
  margin: auto;
  @media only screen and (min-width: 809px) {
    width: 500px;
    justify-content: center;
  }
  .listCard {
    -webkit-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 14px -6px rgba(0,0,0,0.24);
    width: 100%;
    padding: 10px;
    text-align: left;
    display: flex;
    background-color: #f9f9f9;

    .listCardImg {
      max-width: 40px;
      padding-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
      }
    }

    .listCardTitle {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      max-width: 120px;
      color: white;
      margin-bottom: 5px;
    }

    .listCardDate {
      color: grey;
      font-weight: bold;
      font-size: 13px;
      margin-top: 5px;
    }

    .listCardActions {
      align-self: center;
      margin-left: auto;
    }
  }

  .wrapperHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;

    .return {
      font-size: 30px;
    }
  }

  .deleteAll {
    margin-right: 10px;
  }

  .listLink {
    &:active, &:visited {
        color: black;
    }
  }

  .deleteButton {
    color: #b31212;
    background-color: transparent;
    outline: 0;
    border: 0;
  }
}