.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formFields {
    display: flex;
    flex-direction: column;

    & div {
        margin-bottom: 10px;
    }
}