.loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100vh;

    .formWrapper {
        background-color: white;
        padding: 80px;
        width: 220px;
    }
    
    .formFields {
        display: flex;
        flex-direction: column;
    }
    
    .colorWhite {
        color: white;
    }
    
    .signupLink {
        margin-top: 10px;
        &:active, &:visited {
            color: black;
        }
    }
}